<div>
  <header>
    <div class="search-bar">
      <input type="search" placeholder="Search roles...">
      <button class="btn btn-primary" [routerLink]="['/role-creation']" routerLinkActive="router-link-active">Add New
        Role</button>
    </div>
  </header>

  <div class="tabs">
    <div class="tab" [routerLink]="['overview']" routerLinkActive="active">Roles</div>
    <div class="tab" [routerLink]="['user-assignment']" routerLinkActive="active">User Assignment</div>
  </div>
  <router-outlet></router-outlet>
</div>
