@import '../public/scss/variables.scss';

* {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

a {
  cursor: pointer;
}

.btn-primary {
  background-color: $base-color !important;
}

.btn-edit {
  background-color: rgba($base-color, 0.25) !important;
}
